<div class="min-h-screen min-w-full flex justify-center items-center flex-col">
  <h1 class="text-3xl text-left w-1/4 border-b pb-5 ">Sign Up</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="submitLoginData()" class="flex items-center w-1/4 flex-col">
    <mat-hint class="text-red-600 mb-5 w-full" [ngClass]="'block bg-red-100'">
      Error
    </mat-hint>
    <mat-form-field class="w-full" color="primary">
      <mat-label>Name</mat-label>
      <input type="text" formControlName="name" matInput id="name">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput id="email">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput id="password">
    </mat-form-field>
    <p class="flex w-full my-3"><span class="inline- w-2/5">Already have an account?</span><a [routerLink]="['/login']" class="hover:underline bg-gray-100 px-2">Log In</a></p>
    <button class="w-full text-xl" mat-raised-button color="primary" [disabled]="signUpForm.invalid">Sign Up</button>
  </form>
</div>
