
<div class="min-h-screen min-w-full flex justify-center items-center">
  <form [formGroup]="loginForm" (ngSubmit)="submitLoginData()" class="flex items-center w-1/4 flex-col">
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput id="email">
      <mat-hint class="text-red-600" *ngIf="apiErrors">
        {{apiErrors}}
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput id="password">
      <mat-hint class="text-red-600" *ngIf="apiErrors">
        {{apiErrors}}
      </mat-hint>
    </mat-form-field>
    <button class="w-full text-xl" mat-raised-button color="primary" [disabled]="loginForm.invalid">Log In</button>
  </form>
</div>

